// tamaños
$telefono: 524px;
$tablet: 768px;
$desktop: 1200px;

// colores
$fondo: #ddd;
$blanco: white;
$primario: RGB(0,143,209);
$secundario: mediumvioletred;

// Fuentes
$fuente-principal: 'Arial', sans-serif;
$fuente-secundaria: 'Libre Baskerville', sans-serif;
